*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.back{
    height: 100vh;
    width: 100%;
    z-index: -10;
}
.container{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1000px;
}
.background{
    width: 100%;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(20px);
    z-index: 999;

}
.start{
    height: 20%;
    min-width:400px ;
    background-color: rgba(21, 15, 15, 0.68);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    z-index: 999;

}
.start >h4{
    width: 100%;
    position: absolute;
    font-size: 1.2rem;
    color: wheat;
    padding: 50px  0 0 0;
    text-align: center;

}
.start >button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    top:60%;
    left:50%;
    transform: translateX(-50%);
    z-index: 999;
}
.scroll >img{
    width: 100px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;

}
.ahead{
    position: fixed;
    left:0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.frontMountain{
    position: absolute;
    perspective: -100px;
    right: 0;
    width: 70%;
    bottom: -300px;
    
}
.ping{
    position: absolute;
    bottom: 5%;
    right: 10%;
    height: 400px;
    width: 300px;
    z-index: 25;
}
.manxe{
    position: absolute;
    bottom: 8%;
    right: 13%;
    height: 250px;
    width: 250px;
    z-index: 25;
}
@keyframes sway  {
    0% { transform: rotate(25deg); }
    50% { transform: rotate(-25deg); }
    100% { transform: rotate(25deg); }
}



.manxe {
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}
.sun{
    position: absolute;
    width: 125px;
    top: 45%;
    right:65%;
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgba(223, 141, 121, 0.548);
    animation: 30s sunset ease-in-out;
}
@keyframes sunset{
    0%{
        top: 45%;
    }
    50%{
        top:80%;
    }
    100%{
        top:45%
    }
}
.kite{
    position: absolute;
    top: 5%;
    right: 10%;
    height: 100px;
    width: 100px;
    z-index: 25;
    animation: fly 3.5s infinite;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}
.kite ~ .kite{
    position: absolute;
    animation: fly2 4s infinite;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
    top: 12%;
    right: 25%;
    height: 80px;
    width: 80px;
    z-index: 25;
}
@keyframes fly{
    0% {
        transform: translate(20px, 20px);
        
    }
    25%{
        transform: rotate(12deg);
    }
    50%{
        transform: translate(-25px,-25px);
    }
    75%{
        transform: rotate(-45deg);
    }
    100%{
        transform: translate(20px,20px);
    }
}
@keyframes fly2{
    0% {
        transform: translate(35px, 40px);
        
    }
    25%{
        transform: rotate(-22deg);
    }
    50%{
        transform: translate(5px,-45px);
    }
    75%{
        transform: rotate(75deg);
    }
    100%{
        transform: translate(35px,40px);
    }
}

.newTree{
    position: absolute;
    width: 125px;
    top: 55%;
    right:50%;
    z-index: 10;
}
.temple{
    position: absolute;
    width: 22%;
    bottom: 33%;
    left:6%;
    z-index: 10;
}

.wish{
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}



@media (max-width:600px){
    .manxe{
        right:21%;
    }
    .temple{
        bottom: 37%;
    }
}